<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<!-- Fixed navbar -->
<nav class="navbar navbar-default navbar-fixed-top" th:fragment="top">
  <!--  <div class="container">
        <a href="/">
            <img src="/logo.png" style="height:100px; width:100px;
    margin: auto;
    display: block;">
        </a>
            로고는 나중에 꾸며보자
    </div>-->
        <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#"> 빛나는 아이디어 </a>
        </div>

        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a href="#">Home</a></li>
                <li><a href="/idea/ideaList">아이디어모음</a></li>

                <!--<li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">게시판
                        <span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="/idea/ideaList">아이디어모음</a></li>
                        <li><a href="#">자료실</a></li>
                        <li><a href="#">공지사항</a></li>
                        <li class="divider"></li>
                        <li class="dropdown-header">더 있나 추가할거?</li>
                    </ul>
                </li>-->
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <th:block sec:authorize="!isAuthenticated()">
                <li><a href="/login/login">로그인</a></li>
                <li><a href="/member/join">회원가입</a></li>
                </th:block>
                <th:block sec:authorize="isAuthenticated()">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                        <th:block  sec:authentication="principal.name"></th:block>
                       님<span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="<%=request.getContextPath() %>/mypage/info.wow">
                            <span class="glyphicon glyphicon-home" aria-hidden="true"></span>
                            &nbsp;&nbsp;My page
                        </a></li>
                        <li><a href="#">
                            <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
                            &nbsp;&nbsp;비밀번호 변경
                        </a></li>
                        <li><a href="#">
                            <span class="glyphicon glyphicon-th-list" aria-hidden="true"></span>
                            &nbsp;&nbsp;1:1 문의게시판
                        </a></li>
                        <li class="divider"></li>
                        <li>
                            <form action="/login/logout" method="post">
                                <button type="submit"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span>로그아웃</button>
                            </form>
                           </li>
                    </ul>
                </li>
                </th:block>
            </ul>
        </div><!--/.nav-collapse -->
    </div>
</nav>
<br><br>
<br><br><br><br><br><br><br><br><br><br><br><br>